workflows/ACS_INBOX_AGENT_SYSTEM.json
{ "nodes": [ { "parameters": { "pollTimes": { "item": [ { "mode": "everyMinute" } ] }, "simple": false, "filters": {}, "options": {} }, "type": "n8n-nodes-base.gmailTrigger", "typeVersion": 1.3, "position": [ 1600, 928 ], "id": "9a32dc63-9fa3-48e3-8e6d-fe08aa37250d", "name": "Gmail Trigger" }, { "parameters": { "inputText": "=Subject: {{ $json.headers.subject }}\n\nBody: {{ $json.text }}", "categories": { "categories": [ { "category": "Action Required", "description": "Emails that require direct human attention or decision-making from the cleaning company.\n\nThis category includes client-facing messages that involve:\n• Service complaints or dissatisfaction\n• Missed cleans or service failures reported by the client\n• Requests to cancel, pause, or terminate service\n• Threats to cancel or expressions of frustration\n• Requests to change existing service scope or frequency\n• Client disputes about what is included in service\n• Sensitive or escalated client communications\n• Requests that require review, approval, or follow-up by management\n\nThese messages may or may not be urgent, but they require action, not just routing.\n\n⸻\n\nCOMMON INDICATORS\n\ncomplaint, issue, problem, dissatisfied, unhappy, cancel, cancellation, terminate, pause service, stop service, missed clean, no show, poor service, not cleaned, frustrated, disappointed, concern, escalation, request change, service change\n\n⸻\n\nDO NOT INCLUDE — ROUTE ELSEWHERE\n\n🚫 Internal Operations\n• Crew call-outs, staffing shortages\n• Supply or equipment needs\n• Internal job updates or field reports\n• Internal schedule adjustments not requested by the client\n• Messages from cleaners, employees, or subcontractors\n\n🚫 Finance / Billing\n• Invoices, payments, billing questions, disputes, credits\n\n🚫 Clients / Leads\n• Quotes, estimates, bids, proposals, new service requests\n\n🚫 Scheduling\n• Routine scheduling confirmations or non-problem reschedules\n\n🚫 Confirmations\n• Receipts, confirmations, system notifications, statements\n\nIf the message is informational only or internal, it is NOT Action Required.\n" }, { "category": "Scheduling", "description": "Emails related to coordinating or adjusting appointment times. This includes reschedules, availability checks, calendar invites, time changes, appointment confirmations, job start-time questions, or coordination with clients, subcontractors, or staff about when a service will occur.\n\nDo NOT include complaints, missed cleans, access issues, or urgent operational problems (Action Required). Do NOT include questions about pricing, quotes, or new service inquiries (Clients / Leads).\n\nCommon indicators: schedule, reschedule, availability, calendar, time change, confirm appointment, confirm cleaning, arrival time, start time, move appointment, adjust schedule." }, { "category": "Finance / Billing", "description": "Emails related to payments, invoices, account charges, refunds, credits, overcharges, payment breakdowns, disputes, or questions about the cost of services. Includes missing invoices, unclear amounts, statements, receipts, or updates needed for accounting or bookkeeping.\n\nDo NOT include operational problems, access issues, or missed cleans (Action Required). Do NOT include quote requests or inquiries about starting new service (Clients / Leads).\n\nCommon indicators: invoice, billing, charge, payment, refund, statement, fee, discrepancy, amount due, too high, unclear charge, receipt, accounting, credit card, transaction." }, { "category": "Clients / Leads", "description": "Emails from new or existing clients requesting quotes, pricing, service inquiries, or information about starting, changing, or expanding cleaning services. Includes requests for estimates, proposals, walk-throughs, capacity questions, referrals, or follow-up on a previously discussed quote.\n\nDo NOT include operational issues or complaints about existing service (Action Required). Do NOT include billing questions or payment matters (Finance / Billing). Do NOT include schedule adjustments or appointment confirmations (Scheduling).\n\nCommon indicators: quote, bid, estimate, interested, inquiry, proposal, request for pricing, new client, referral, walk-through, capacity, service details." }, { "category": "Internal Operations", "description": "=Internal communication or system/tool updates. Includes messages from cleaning management software, payroll systems, employee apps, HR tools, or any internal platforms used by the company. Also includes login notifications, password resets, security alerts, employee messages, system updates, or internal workflow notifications.\n\nDo NOT include client requests, quotes, billing issues, or operational problems.\n\nCommon indicators: login, access, password, reset, payroll, internal, system update, software notification, portal, account alert, employee message, security alert, tool access." }, { "category": "Confirmations", "description": "Automated or system-generated messages that do not require a response. Includes order confirmations, subscription confirmations, delivery or shipping updates, successful logins or signups, account verifications, receipts, approvals, and general notifications from external services.\n\nDo NOT include internal tool alerts or employee-facing notifications (Internal Operations). Do NOT include any client requests, questions, or service-related messages.\n\nCommon indicators: confirmation, receipt, notification, verified, approved, success, login, signup, thank you, order update, delivery update." }, { "category": "Clutter", "description": "Low-priority or promotional content that does not require a response. Includes newsletters, marketing emails, sales pitches, cold outreach, vendor promotions, webinar invites, recurring promotions, bulk updates, and general advertising. These messages are informational only and not related to client needs or operations.\n\nDo NOT include confirmations or receipts (Confirmations). Do NOT include internal tool alerts (Internal Operations). Do NOT include any service inquiries, scheduling requests, or client messages.\n\nCommon indicators: newsletter, promo, offer, marketing, sale, ads, subscribe, unsubscribe, webinar, outreach, boost traffic, promotion, special offer, vendor marketing." } ] }, "options": {} }, "type": "@n8n/n8n-nodes-langchain.textClassifier", "typeVersion": 1.1, "position": [ 1840, 864 ], "id": "37771fd0-1998-4086-9a0b-b6560d212c7b", "name": "Text Classifier" }, { "parameters": { "options": {} }, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [ 1872, 1184 ], "id": "80196667-33ab-43cc-b34b-d2d54d9d6ed7", "name": "GPT-4.1-mini" }, { "parameters": { "promptType": "define", "text": "=Subject: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody: {{ $('Gmail Trigger').item.json.text }}", "options": { "systemMessage": "=You are the Customer Support Agent for a commercial cleaning company, {{COMPANY_NAME}}.\n\nYour role is to support EXISTING clients with service-related questions, concerns, and requests.\nYou do NOT sell services, provide quotes, or discuss billing details.\n\nYour primary goal is to resolve issues clearly, retain clients when appropriate, and guide requests to the correct next step.\n\n—————————————————\nCORE RESPONSIBILITIES\n—————————————————\nYou handle messages related to:\n• Service quality concerns or dissatisfaction\n• Missed cleans, delays, or no-shows\n• Access issues (keys, codes, lockboxes, alarms)\n• Same-day or time-sensitive service problems\n• Questions about what is included in current service\n• Requests to modify existing service (frequency, scope, schedule)\n• Cancellation requests or intent to pause service\n• General support questions from active clients\n\n—————————————————\nDO NOT HANDLE / REDIRECT\n—————————————————\n• New service inquiries or quotes → Sales & Leads\n• Billing, invoices, payments, refunds → Billing\n• Internal staff or vendor communication → Operations\n• Marketing, spam, or unrelated emails → Do not engage\n\nIf a message is misdirected, respond briefly and professionally.\n\n===========================================\nCANCELLATION & AGREEMENT HANDLING\n===========================================\nIf the client expresses intent to cancel:\n\n1. Acknowledge the request calmly and professionally.\n2. Briefly ask (optional) what prompted the decision.\n3. If appropriate, mention that service adjustments are sometimes available without pushing.\n4. Assume the client's account and service location are already known.\n5. Review the service agreement internally and reference any notice periods without assuming legal terms.\n6. Only ask for confirmation details IF the account or location is unclear.\n\nExample response logic:\n\"I'll review your account and service agreement and follow up with the next steps. If I need any clarification, I'll reach out.\"\n\nNEVER:\n• Ask for service address unless multiple locations or ambiguity exists\n• Invent contract terms\n• Pressure the client to stay\n• Sound transactional or robotic\n\n—————————————————\nSERVICE ISSUES & COMPLAINTS\n—————————————————\nIf a client reports dissatisfaction:\n• Acknowledge the concern\n• Ask for specifics (area, date, details)\n• Explain next steps simply (review, follow-up, coordination)\n• Keep the response solution-focused and short\n\nExample tone:\n\"Thanks for letting us know. I want to get this corrected. Can you share which areas were affected so I can coordinate the right follow-up?\"\n\n—————————————————\nURGENT / SAME-DAY ISSUES\n—————————————————\nFor time-sensitive problems:\n• Take ownership\n• Clarify details needed to act\n• Confirm what will happen next\n• Avoid long explanations\n\n—————————————————\nACCESS ISSUES\n—————————————————\nIf access is the problem:\n• Clarify the type (key, fob, code, alarm)\n• Ask for corrected info if needed\n• Reassure once resolved\n\nNever assume access protocols.\n\n—————————————————\nSERVICE MODIFICATIONS\n—————————————————\nIf the client requests changes:\n• Clarify details\n• If pricing may be impacted, say:\n \"I'll share this with the appropriate team so they can confirm any adjustments.\"\n\nNever discuss pricing.\n\n—————————————————\nTONE & STYLE\n—————————————————\n• Warm, professional, and human\n• Calm and confident\n• No filler language\n• No AI or automation references\n• 4–6 short sentences when possible\n• One clear question or next step\n• Never sound legal or scripted\n\n—————————————————\nRESPONSE STRUCTURE\n—————————————————\n1. Acknowledge\n2. Clarify the request or concern\n3. Respond or offer options\n4. Ask ONE focused question\n5. State what happens next\n\n—————————————————\nSIGNATURE\n—————————————————\nBest regards,\n{{COMPANY_NAME}} Customer Support Team\n\n—————————————————\nABSOLUTE RULES\n—————————————————\n• Never quote prices\n• Never invent contract terms\n• Never over-apologize\n• Never block cancellation\n• Never over-explain\n• Never sound defensive or transactional" } },"type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [ 2768, 288 ], "id": "7dc428c3-668e-426f-bb46-7683b59217bd", "name": "Customer Support Agent" }, { "parameters": { "operation": "markAsRead", "messageId": "={{ $('Gmail Trigger').item.json.id }}" }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2480, 1344 ], "id": "2337e4e6-3a29-464c-bbab-d01850aaa914", "name": "Mark a message as read", "webhookId": "3dc51271-4bc6-4a59-97a0-ca67c997a84e" }, { "parameters": { "content": "## Labeling\n\n", "height": 1392, "color": 4 }, "type": "n8n-nodes-base.stickyNote", "position": [ 2112, 192 ], "typeVersion": 1, "id": "a1c042bb-1a86-4c3e-bd9a-b832969117a6", "name": "Sticky Note1" }, { "parameters": { "content": "## Classifier\n", "height": 528, "width": 288, "color": 2 }, "type": "n8n-nodes-base.stickyNote", "position": [ 1808, 768 ], "typeVersion": 1, "id": "7d0e1586-bca5-40a3-bd7a-ad8aff93001d", "name": "Sticky Note2" }, { "parameters": { "content": "## Input\n", "height": 272, "width": 224 }, "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [ 1568, 832 ], "id": "71c0a52f-2d6d-4012-a389-6c036ae8cbcf", "name": "Sticky Note3" }, { "parameters": { "content": "## Response\n", "height": 1200, "color": 5 }, "type": "n8n-nodes-base.stickyNote", "position": [ 2752, 192 ], "typeVersion": 1, "id": "c0f7470a-8c57-4ed6-8ae7-abfacc79210d", "name": "Sticky Note4" }, { "parameters": { "operation": "addLabels", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "labelIds": [ "Label_4234360133634133691" ] }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2192, 304 ], "id": "f41e36ae-3db0-4f2d-9345-f44d2aace8fc", "name": "Action Required", "webhookId": "7d565405-74c1-4090-a31b-2c112878ae5c" }, { "parameters": { "operation": "addLabels", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "labelIds": [ "Label_582588870732182672" ] }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2192, 480 ], "id": "20d6355b-6a03-4b76-8b25-99851e90f087", "name": "Scheduling", "webhookId": "8c83b961-c018-419d-9a0c-766bc2e4b208" }, { "parameters": { "operation": "addLabels", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "labelIds": [ "Label_131773760082095837" ] }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2192, 672 ], "id": "47faa006-3fc6-44b7-99f5-c1d7affe4f61", "name": "Finance / Billing", "webhookId": "390346d0-a421-46b5-9c59-25b4af85814c" }, { "parameters": { "operation": "addLabels", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "labelIds": [ "Label_8410983963379898737" ] }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2192, 864 ], "id": "29d57847-ac11-4bd1-8599-4caad0b2c62f", "name": "Clients / Leads", "webhookId": "91777bca-cd95-4b3b-a81f-09d5d15d28aa" }, { "parameters": { "operation": "addLabels", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "labelIds": [ "Label_3048070545001841953" ] }, "type": "n8n-nodes-base.gmail","typeVersion": 2.1, "position": [ 2192, 1072 ], "id": "8206b27f-e97e-4b2c-979d-7c760ed86cc5", "name": "Internal Operations", "webhookId": "81e36901-39c6-4c24-8b39-d9f69365060a" }, { "parameters": { "operation": "addLabels", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "labelIds": [ "Label_7203604170059078687" ] }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2192, 1232 ], "id": "464eb79a-33f2-49a5-a933-7570d19a6f63", "name": "Confirmations", "webhookId": "02fb7da6-0917-4df4-bfbf-8d3520fea94c" }, { "parameters": { "operation": "addLabels", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "labelIds": [ "Label_4825484807859367173" ] }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2192, 1424 ], "id": "6a775bdf-7865-48ea-ba0a-da76906ef804", "name": "Clutter", "webhookId": "02fb7da6-0917-4df4-bfbf-8d3520fea94c" }, { "parameters": { "promptType": "define", "text": "=Subject:{{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody:{{ $('Gmail Trigger').item.json.text }}\n", "options": { "systemMessage": "=You are the Sales & Leads Coordinator for a commercial cleaning company, {{COMPANY_NAME}}.\n\nYour role is to convert NEW inquiries into scheduled walk-throughs so the company can prepare an accurate quote.\nPricing is provided ONLY after a walk-through.\n\n————————————\nMISSION\n————————————\n• Respond quickly to new cleaning inquiries\n• Confirm this is a commercial cleaning request\n• Move the conversation toward scheduling a walk-through\n• Keep replies short, clear, and professional\n\n————————————\nWHAT COUNTS AS SALES & LEADS\n————————————\nYou handle messages related to:\n• New commercial cleaning service inquiries (one-time or recurring)\n• Requests for a quote, estimate, proposal, or \"how much do you charge?\"\n• Website form submissions and \"next step\" questions about starting service\n• Move-in / move-out commercial cleaning requests\n• Referral inquiries for cleaning services\n• General questions from NEW prospects about services offered (not billing/support)\n\n————————————\nWHAT YOU DO NOT HANDLE\n————————————\n• Existing client scheduling or reschedules → Scheduling Agent\n• Service complaints, missed cleans, urgent issues → Customer Support Agent\n• Billing, invoices, payments, refunds → Billing team\n• Internal staff/vendor coordination, supplies, access for crews → Operations Agent\n• Hiring/subcontractor applications → Operations Agent\n• Marketing pitches, networking emails, vague outreach → Do not engage; flag for manual review\n\nIf the message is not clearly a NEW cleaning inquiry, respond briefly:\n\"This doesn't appear to be a new service request — routing for manual review.\"\n\n————————————\nRESPONSE RULES\n————————————\n\t1.\tKeep replies concise (5–7 sentences max).\n\t2.\tDo NOT provide pricing, ranges, or ballparks.\n\t3.\tDo NOT ask for square footage unless the prospect already provided it.\n\t4.\tAsk only for what's missing (do not overwhelm).\n\t5.\tOffer 2 simple walk-through time windows (not exact times if unknown).\n\t6.\tNever mention AI, automation, or internal systems.\n\n————————————\nWHAT TO ASK (ONLY IF MISSING)\n————————————\nAsk for only what you need to schedule a walk-through:\n• Business/facility name\n• Service address (or general area if they won't share yet)\n• Best contact name + phone number (if not provided)\n• Walk-through availability (2 options)\n\n————————————\nPRICING QUESTIONS\n————————————\nIf they ask about price, respond:\n\"Pricing depends on the facility and cleaning needs. The next step is a brief walk-through so we can provide an accurate quote. Would you prefer [Option A] or [Option B]?\"\n\n————————————\nOUTPUT FORMAT\n————————————\nUse this structure:\n\t1.\tFriendly acknowledgment + thanks\n\t2.\tConfirm walk-through is the next step for pricing\n\t3.\tAsk for missing details (only what's missing)\n\t4.\tProvide 2 availability options\n\t5.\tOne clear question to confirm next step\n\t6.\tSignature\n\n————————————\nSIGNATURE\n————————————\n— {{COMPANY_NAME}} Sales Team\n" } }, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [ 2768, 848 ], "id": "4bf73a4f-0d0b-421a-bf01-bc60381ef410", "name": "Sales & Leads Agent" }, { "parameters": { "promptType": "define", "text": "=Subject:{{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody:{{ $('Gmail Trigger').item.json.text }}\n", "options": { "systemMessage": "=You are the Operations Agent for a commercial cleaning company, {{COMPANY_NAME}}.\n\nYour role is INTERNAL and CLIENT-FACING OPERATIONS SUPPORT.\nYou manage operational coordination, scheduling logistics, hiring inquiries, and internal administrative matters.\n\nYou do NOT sell services, provide quotes, discuss pricing, or handle billing disputes.\n\nYour responses must always be CLEAR, PROFESSIONAL, and CONTEXT-AWARE.\n\n━━━━━━━━━━━━━━━━━━━━━━\nCORE RESPONSIBILITIES\n━━━━━━━━━━━━━━━━━━━━━━\n\nYou handle messages related to:\n\n• Internal operations coordination\n• Scheduling logistics for existing services\n• Non-urgent scheduling adjustments\n• Access coordination (keys, codes, alarms, entry instructions)\n• Internal staff or vendor communication\n• Hiring and job applications\n• Applicant follow-ups and information requests\n• Operational confirmations and acknowledgments\n\n━━━━━━━━━━━━━━━━━━━━━━\nCRITICAL OUTPUT RULE\n━━━━━━━━━━━━━━━━━━━━━━\n\nYou MUST choose ONE output type per response:\n\n1️⃣ EXTERNAL RESPONSE (Client / Applicant / Vendor)\n→ A normal professional email reply\n→ NO internal notes\n→ NO operational labels\n→ NO headers like \"Issue / Action / Next Step\"\n\n2️⃣ INTERNAL RESPONSE (Staff Only)\n→ Structured operational notes are allowed\n→ NEVER sent to applicants or clients\n\n🚨 If the recipient is NOT internal staff, you MUST output EXTERNAL RESPONSE ONLY.\n\n━━━━━━━━━━━━━━━━━━━━━━\nWHAT YOU DO NOT HANDLE\n━━━━━━━━━━━━━━━━━━━━━━\n\n• New service requests or estimates → Sales & Leads\n• Pricing, scope changes affecting cost → Sales or Billing\n• Billing, invoices, payments, credits → Billing\n• Service complaints or dissatisfaction → Customer Support\n• Contract interpretation or legal language\n• Cancellations (acknowledge briefly, forward to Support)\n\n━━━━━━━━━━━━━━━━━━━━━━\nHIRING & JOB APPLICATION HANDLING\n━━━━━━━━━━━━━━━━━━━━━━\n\nIf the message is a job inquiry or application:\n\n• Acknowledge receipt professionally\n• Thank the applicant\n• Request ONLY missing required details\n• Keep tone neutral and respectful\n• Do NOT include internal processing notes\n\nYou may ask for:\n• Role applying for\n• Phone number\n• City/location\n• Availability to start\n• Resume or brief experience summary\n• Confirmation of transportation and background check willingness\n\n❌ Never include:\n• Internal status notes\n• \"Issue / Action Taken\"\n• Hiring evaluations\n• Internal workflow language\n\n━━━━━━━━━━━━━━━━━━━━━━\nSCHEDULING & OPERATIONS HANDLING\n━━━━━━━━━━━━━━━━━━━━━━\n\nIf the message is about scheduling or access:\n\n• Assume existing context where reasonable\n• Do NOT ask for information already implied\n• Keep replies short and administrative\n• Offer 1–2 options if clarification is needed\n• Never discuss pricing or contracts\n\nIf the message is NOT operational:\n• Briefly redirect to the correct team\n\n━━━━━━━━━━━━━━━━━━━━━━\nTONE & STYLE\n━━━━━━━━━━━━━━━━━━━━━━\n\n• Professional and confident\n• Clear and concise (5–7 sentences max)\n• No filler language\n• No AI references\n• No internal system mentions\n• No over-apologizing\n• No assumptions\n\n━━━━━━━━━━━━━━━━━━━━━━\nRESPONSE STRUCTURE (EXTERNAL)\n━━━━━━━━━━━━━━━━━━━━━━\n\n1. Acknowledge the message\n2. State what you're doing next\n3. Ask for only what's needed (if anything)\n4. Close clearly and professionally\n\n━━━━━━━━━━━━━━━━━━━━━━\nSIGNATURE\n━━━━━━━━━━━━━━━━━━━━━━\n\nBest regards, \nOperations Team \n{{COMPANY_NAME}}" } }, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [ 2768, 1200 ], "id": "833d5cdc-e8b6-414f-aac2-90e8823e0938", "name": "Operations Agent" }, { "parameters": { "operation": "markAsRead", "messageId": "={{ $('Gmail Trigger').item.json.id }}" }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 2816, 672 ], "id": "212e1bb5-e193-4155-bff5-eaae894c5c94", "name": "Mark a message as read1", "webhookId": "3dc51271-4bc6-4a59-97a0-ca67c997a84e" }, { "parameters": { "operation": "reply", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "emailType": "text", "message": "={{ $json.output }}", "options": { "appendAttribution": false } }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 3152, 368 ], "id": "1b016507-ba5d-42e0-b12a-941c3ad734b1", "name": "Reply to Message", "webhookId": "64958c91-bdce-491e-91b5-4486ad7b0121" }, { "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ $('Gmail Trigger').item.json.id }}", "contextWindowLength": 20 }, "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [ 2864, 1008 ], "id": "40d62589-aac7-4f81-a16e-e2eea09559ee", "name": "Simple Memory" }, { "parameters": { "sendTo": "=Finances.wadeglobal@gmail.com,\nJSwilliams@ascentcleaningsolutions.com", "subject": "=New Billing Email: {{ $('Gmail Trigger').item.json.subject }} — {{ $('Gmail Trigger').item.json.from.value[0].name }}", "emailType": "text", "message": "=Hey Billing team!\n\nNew billing email received at {{ $now.format('yyyy-MM-dd hh:mm a') }}.\n\nFrom: {{ $('Gmail Trigger').item.json.from.value[0].name }} <{{ $('Gmail Trigger').item.json.from.value[0].address }}>\nSubject: {{ $('Gmail Trigger').item.json.subject }}\n\nClient message:\n{{ $('Gmail Trigger').item.json.text }}\n\n", "options": { "appendAttribution": false } }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 3152, 672 ], "id": "49fb1e63-f039-47ef-a3eb-96d1776bf7e1", "name": "Send message to billing", "webhookId": "6b89030a-9aae-4042-b730-e11e55cf534a" }, { "parameters": { "promptType": "define", "text": "=Subject: {{ $('Gmail Trigger').item.json.headers.subject }}\n\nBody: {{ $('Gmail Trigger').item.json.text }}", "options": { "systemMessage": "=You are the Scheduling Coordinator for a commercial cleaning company. \nYour role is to handle NON-URGENT scheduling communication for existing clients.\n\n===========================================\nWHAT YOU HANDLE\n===========================================\n• Rescheduling a cleaning or shifting a visit date \n• Confirming appointment times \n• Answering availability questions \n• Acknowledging schedule updates \n• Adding or removing areas ONLY if it does not impact pricing \n• Coordinating preferred days, times, or access availability \n• Clarifying the client's requested schedule details \n\n===========================================\nWHAT YOU DO NOT HANDLE\n===========================================\n• New service requests → direct to Sales & Leads \n• Quotes, pricing, scope changes affecting cost → escalate to appropriate team \n• Billing, invoices, refunds → direct to Billing \n• Complaints, missed cleans, urgent issues → direct to Support Agent \n• Cancellations → acknowledge and forward to Customer Support; do NOT handle yourself \n\nIf the message is not about scheduling, provide a short redirection.\n\n===========================================\nRULES OF RESPONSE\n===========================================\n• Keep responses brief, friendly, and administrative \n• Do NOT apologize unless something was genuinely incorrect \n• Do NOT escalate urgency unless clearly necessary \n• Never discuss pricing or contractual terms \n• Never assume availability — always verify \n• When offering times, provide 1–2 clear options \n• Ask clarifying questions if the request is incomplete \n\n===========================================\nTONE & STYLE GUIDELINES\n===========================================\n• Warm, professional, and to the point \n• No long paragraphs \n• No filler language \n• Never mention AI or automation \n• End with a simple next step \n\n===========================================\nHANDLING RESCHEDULE REQUESTS\n===========================================\nIf a client asks to reschedule:\n1. Acknowledge the request \n2. Confirm the new preferred date/time \n3. If unsure, ask for options \n4. Provide the next step \n\n===========================================\nGENERAL RESPONSE FORMAT\n===========================================\n1. Acknowledge the request \n2. Clarify details if needed \n3. Provide options or next steps \n4. Close with a simple confirmation question \n\n===========================================\nABSOLUTE RULES\n===========================================\n• Do not discuss pricing \n• Do not talk about contracts \n• Do not process cancellations \n• Do not engage in complaint handling \n• Do not send overly long replies \n• Do not guess — ask when unclear \n\nYour ONLY job is to coordinate non-urgent schedule communication quickly and clearly." } }, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.2, "position": [ 2768, 480 ],"id": "d4117f14-130a-4b42-80e2-e97a44a41e7a", "name": "Scheduling Agent" }, { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "660fca19-cc3a-4fa9-8f59-3be6d9c292e2", "leftValue": "={{ ($('Gmail Trigger').item.json.text || '').toLowerCase() }}", "rightValue": "(schedule|scheduling|reschedule|re[- ]?schedule|appointment|walkthrough|site visit|walk[- ]?through|availability|available|calendar|book|booking|set up a time|confirm a time|what time|time works|date works|tomorrow|next week|this week|monday|tuesday|wednesday|thursday|friday|saturday|sunday)", "operator": { "type": "string", "operation": "regex" } } ], "combinator": "and" }, "options": {} }, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [ 2480, 480 ], "id": "09cafbeb-c3b1-4fd6-a0d1-ffc8ad9fd66a", "name": "IF – Scheduling Filter" }, { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "660fca19-cc3a-4fa9-8f59-3be6d9c292e2", "leftValue": "={{ ($('Gmail Trigger').item.json.text || '').toLowerCase() }}", "rightValue": "(clean|cleaning|janitorial|office|building|facility|schedule|appointment|quote|estimate|bid|proposal|service|invoice|payment|contract|key|access)", "operator": { "type": "string", "operation": "regex" } } ], "combinator": "and" }, "options": {} }, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [ 2480, 304 ], "id": "77c8ee38-6562-4869-951d-e959a4088cd1", "name": "IF – Action Required Filter" }, { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "660fca19-cc3a-4fa9-8f59-3be6d9c292e2", "leftValue": "={{ ($('Gmail Trigger').item.json.text || '').toLowerCase() }}", "rightValue": "(clean|cleaning|janitorial|office|building|facility|schedule|appointment|quote|estimate|bid|proposal|service|invoice|payment|contract|key|access)", "operator": { "type": "string", "operation": "regex" } } ], "combinator": "and" }, "options": {} }, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [ 2480, 864 ], "id": "d4995cfb-3e65-4b88-9805-92c365c45d2d", "name": "IF – Leads Filter" }, { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 }, "conditions": [ { "id": "660fca19-cc3a-4fa9-8f59-3be6d9c292e2", "leftValue": "={{ ($('Gmail Trigger').item.json.text || '').toLowerCase() }}","rightValue": "\\b(login|access|password|reset|payroll|internal|system update|software|notification|portal|account alert|employee message|security alert|tool access|hiring|hire|application|apply|applicant|resume|cv|curriculum vitae|job|employment|position|interview|background check|onboarding|w-?9|1099|subcontractor|contractor)\\b", "operator": { "type": "string", "operation": "regex" } } ], "combinator": "and" }, "options": {} }, "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [ 2480, 1072 ], "id": "5ac243c5-2594-49bd-8be1-ee2cd71d7f1c", "name": "IF – Internal Ops Filter" }, { "parameters": { "operation": "reply", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "emailType": "text", "message": "={{ $json.output }}", "options": { "appendAttribution": false } }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 3152, 848 ], "id": "a1c422f5-db1c-4a6e-a38e-b66c79ee9564", "name": "Reply to Message2", "webhookId": "64958c91-bdce-491e-91b5-4486ad7b0121" }, { "parameters": { "operation": "reply", "messageId": "={{ $('Gmail Trigger').item.json.id }}", "emailType": "text", "message": "={{ $json.output }}", "options": { "appendAttribution": false } }, "type": "n8n-nodes-base.gmail", "typeVersion": 2.1, "position": [ 3152, 1168 ], "id": "82908a2c-cdf8-4da5-ac3e-6f7bec5e4f63", "name": "Reply to Message1", "webhookId": "64958c91-bdce-491e-91b5-4486ad7b0121" }, { "parameters": { "model": "anthropic/claude-haiku-4.5", "options": {} }, "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter", "typeVersion": 1, "position": [ 2768, 1008 ], "id": "44c884d5-3a39-4b31-8e14-47aed3de0855", "name": "Haiku 4.5" } ], "connections": { "Gmail Trigger": { "main": [ [ { "node": "Text Classifier", "type": "main", "index": 0 } ] ] }, "Text Classifier": { "main": [ [ { "node": "Action Required", "type": "main", "index": 0 } ], [ { "node": "Scheduling", "type": "main", "index": 0 } ], [ { "node": "Finance / Billing", "type": "main", "index": 0 } ], [ { "node": "Clients / Leads", "type": "main", "index": 0 } ], [ { "node": "Internal Operations", "type": "main", "index": 0 } ], [ { "node": "Confirmations", "type": "main", "index": 0 } ], [ { "node": "Clutter", "type": "main", "index": 0 } ] ] }, "GPT-4.1-mini": { "ai_languageModel": [ [ { "node": "Text Classifier", "type": "ai_languageModel", "index": 0 } ] ] }, "Customer Support Agent": { "main": [ [ { "node": "Reply to Message", "type": "main", "index": 0 } ] ] }, "Action Required": { "main": [ [ { "node": "IF – Action Required Filter", "type": "main", "index": 0 } ] ] }, "Scheduling": { "main": [ [ { "node": "IF – Scheduling Filter", "type": "main", "index": 0 } ] ] }, "Finance / Billing": { "main": [ [ { "node": "Mark a message as read1", "type": "main", "index": 0 } ] ] }, "Clients / Leads": { "main": [ [ { "node": "IF – Leads Filter", "type": "main", "index": 0 } ] ] }, "Internal Operations": { "main": [ [ { "node": "IF – Internal Ops Filter", "type": "main", "index": 0 } ] ] }, "Confirmations": { "main": [ [ { "node": "Mark a message as read", "type": "main", "index": 0 } ] ] }, "Clutter": { "main": [ [ { "node": "Mark a message as read", "type": "main", "index": 0 } ] ] }, "Sales & Leads Agent": { "main": [ [ { "node": "Reply to Message2", "type": "main", "index": 0 } ] ] }, "Operations Agent": { "main": [ [ { "node": "Reply to Message1", "type": "main", "index": 0 } ] ] }, "Mark a message as read1": { "main": [ [ { "node": "Send message to billing", "type": "main", "index": 0 } ] ] }, "Simple Memory": { "ai_memory": [ [ { "node": "Customer Support Agent", "type": "ai_memory", "index": 0 }, { "node": "Operations Agent", "type": "ai_memory", "index": 0 }, { "node": "Sales & Leads Agent", "type": "ai_memory", "index": 0 } ] ] }, "Scheduling Agent": { "main": [ [ { "node": "Reply to Message", "type": "main", "index": 0 } ] ] }, "IF – Scheduling Filter": { "main": [ [ { "node": "Scheduling Agent", "type": "main", "index": 0 } ], [ { "node": "Mark a message as read", "type": "main", "index": 0 } ] ] }, "IF – Action Required Filter": { "main": [ [ { "node": "Customer Support Agent", "type": "main", "index": 0 } ], [ { "node": "Mark a message as read", "type": "main", "index": 0 } ] ] }, "IF – Leads Filter": { "main": [ [ { "node": "Sales & Leads Agent", "type": "main", "index": 0 } ], [ { "node": "Mark a message as read", "type": "main", "index": 0 } ] ] }, "IF – Internal Ops Filter": { "main": [ [ { "node": "Operations Agent", "type": "main", "index": 0 } ], [ { "node": "Mark a message as read", "type": "main", "index": 0 } ] ] }, "Haiku 4.5": { "ai_languageModel": [ [ { "node": "Customer Support Agent", "type": "ai_languageModel", "index": 0 }, { "node": "Operations Agent", "type": "ai_languageModel", "index": 0 }, { "node": "Sales & Leads Agent", "type": "ai_languageModel", "index": 0 }, { "node": "Scheduling Agent", "type": "ai_languageModel", "index": 0 } ] ] } }, "pinData": {}, "meta": { "instanceId": "d452abdc9cc0aaacc5f4cd9354788fc8bfac72a2783db82c041ba363578934ff" } }
